:root {
  --font-sans: 'Jost', sans-serif;
  --font-serif: 'Noto Serif', serif;

  --font-scale: 1.25;
  --font-size-xs: 0.8rem;
  --font-size-s: 1.2rem;
  --font-size-m: calc( var(--font-size-s) * var(--font-scale) );
  --font-size-l: calc( var(--font-size-m) * var(--font-scale) );

  --color-dark: #222;
  --color-light: #f2f2f2;
  --accucent-color: #6caeb1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: var(--font-sans);
}

h1 {
  font-family: var(--font-serif);
}

button {
  font-family: var(--font-serif);
  border: none;
  // background-color: transparent;
  background-color: rgb(255, 255, 176); // temp
  cursor: pointer;
}

.list {
  background-color: rgb(255, 188, 188); // temp
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: rgb(190, 190, 255); // temp
  padding: 0.8rem 1.5rem;
  font-size: var(--font-size-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__date {
    font-size: var(--font-size-xs);
    align-self: flex-start;
  }

  &__task {
    font-size: var(--font-size-m);
  }

  &__checked {
    cursor: pointer;
    
    & input {
      display: none;

      &:checked + span {
        background-color: #606060;
      }
    }

    & span {
      color: var(--color-light);
      background-color: var(--accucent-color);
      font-size: var(--font-size-s);
      padding: 8px 12px;
      border-radius: 10px;
    }

  }
}
